<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bselzer.ktx.intent">

    <application>
        <provider
            android:name="com.bselzer.ktx.intent.browser.SystemBrowser"
            android:authorities="${applicationId}.Browser"
            android:exported="false" />
        <provider
            android:name="com.bselzer.ktx.intent.email.SystemEmailer"
            android:authorities="${applicationId}.Emailer"
            android:exported="false" />
    </application>
</manifest>